<h2>予定の新規追加</h2>
<%= render "shared/error", obj: @schedule %>
<%= form_with model: @schedule,url:schedules_path,local:true do |f| %>
  <table>
  <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
  </tr>

  <tr>
      <th><%= f.label :start_at ,"開始日" %></th>
      <td><%= f.datetime_local_field :start_at %></td>
  </tr>

  <tr>
      <th><%= f.label :end_at ,"終了日" %></th>
      <td><%= f.datetime_local_field:end_at %></td>
  </tr>
  
  <tr>
   <th><%= f.label :is_all_day ,"終日の場合はチェックを入れます"%></th>
   <td><%= f.check_box :is_all_day , {},checked_value = 'true',unchecked_value ='false' %></td>
  </tr>
  
  <tr>
      <th><%= f.label :introduction ,"スケジュールメモ" %></th>
      <td><%= f.text_area :introduction %></td>
  </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "保存"%></li>
      <li><%= link_to "キャンセル", :schedules %></li>
    </ul>
  </div>
<% end %>